.text{
    font-family: var(--r);
}
.crossed{
    text-decoration: line-through solid;
    color: grey;
}
.extraLarge{
    font-size: 40px;
}
.large{
    font-size: 24px;
}
.small{
    font-size: 14px;
}
.normal{
    font-size: 16px;
}