.catalog{
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    margin-top: 32px;
    justify-items: center;
    gap: 48px 32px;
    justify-content: center;
    &__select{
        margin: 35px 0 0 0;
        align-self:flex-end
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
}